<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/" class="text_white"></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-center text_white">
        Equipos finales
      </ion-title>
      <ion-buttons slot="end" class="space">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div class="lightining"></div>
  <ion-grid class="ion-padding ion-text-center rain">

    <ion-row class="team animation-left">
      <ion-col size="12" class=" title">
        <span>Equipo 1 </span> &nbsp;
        <ion-icon name="add-circle-outline" *ngIf="difference > 0"></ion-icon>
        <ion-icon name="remove-circle-outline" *ngIf="difference < 0"></ion-icon>
      </ion-col>

      <ion-col size="4" *ngFor="let player of teamA">
        <ion-row>
          <ion-col size="12" class="active">
            <span>{{player.name}}</span>
            <img [src]="player.image">
            <div class="margin_auto" *ngIf="player.score === 3.5">
              <ion-icon name="star-sharp"></ion-icon>
              <ion-icon name="star-sharp"></ion-icon>
              <ion-icon name="star-sharp"></ion-icon>
              <ion-icon name="star-sharp"></ion-icon>
              <ion-icon name="star-sharp"></ion-icon>
            </div>
            <div class="margin_auto" *ngIf="player.score === 3 || player.score === 2.5">
              <ion-icon name="star-sharp"></ion-icon>
              <ion-icon name="star-sharp"></ion-icon>
              <ion-icon name="star-sharp"></ion-icon>
              <ion-icon name="star-sharp"></ion-icon>
            </div>
            <div class="margin_auto" *ngIf="player.score === 2">
              <ion-icon name="star-sharp"></ion-icon>
              <ion-icon name="star-sharp"></ion-icon>
              <ion-icon name="star-sharp"></ion-icon>
              <ion-icon name="star-half-sharp"></ion-icon>
            </div>
            <div class="margin_auto" *ngIf="player.score === 1.5">
              <ion-icon name="star-sharp"></ion-icon>
              <ion-icon name="star-sharp"></ion-icon>
              <ion-icon name="star-sharp"></ion-icon>
            </div>
            <div class="margin_auto" *ngIf="player.score === 1">
              <ion-icon name="star-sharp"></ion-icon>
              <ion-icon name="star-sharp"></ion-icon>
              <ion-icon name="star-half-sharp"></ion-icon>
            </div>
            <div class="margin_auto" *ngIf="player.score === 0.5">
              <ion-icon name="star-sharp"></ion-icon>
              <ion-icon name="star-sharp"></ion-icon>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <img src="assets/images/vs.png" class="vs">
      </ion-col>
    </ion-row>
    <ion-row class="team animation-right">
      <ion-col size="12" class="title">
        <span>Equipo 2 </span> &nbsp;
        <ion-icon name="add-circle-outline" *ngIf="difference < 0"></ion-icon>
        <ion-icon name="remove-circle-outline" *ngIf="difference > 0"></ion-icon>
      </ion-col>

      <ion-col size="4" *ngFor="let player of teamB">
        <ion-row>
          <ion-col size="12" class="active">
            <span>{{player.name}}</span>
            <img [src]="player.image">
            <div class="margin_auto" *ngIf="player.score === 3.5">
              <ion-icon name="star-sharp"></ion-icon>
              <ion-icon name="star-sharp"></ion-icon>
              <ion-icon name="star-sharp"></ion-icon>
              <ion-icon name="star-sharp"></ion-icon>
              <ion-icon name="star-sharp"></ion-icon>
            </div>
            <div class="margin_auto" *ngIf="player.score === 3 || player.score === 2.5">
              <ion-icon name="star-sharp"></ion-icon>
              <ion-icon name="star-sharp"></ion-icon>
              <ion-icon name="star-sharp"></ion-icon>
              <ion-icon name="star-sharp"></ion-icon>
            </div>
            <div class="margin_auto" *ngIf="player.score === 2">
              <ion-icon name="star-sharp"></ion-icon>
              <ion-icon name="star-sharp"></ion-icon>
              <ion-icon name="star-sharp"></ion-icon>
              <ion-icon name="star-half-sharp"></ion-icon>
            </div>
            <div class="margin_auto" *ngIf="player.score === 1.5">
              <ion-icon name="star-sharp"></ion-icon>
              <ion-icon name="star-sharp"></ion-icon>
              <ion-icon name="star-sharp"></ion-icon>
            </div>
            <div class="margin_auto" *ngIf="player.score === 1">
              <ion-icon name="star-sharp"></ion-icon>
              <ion-icon name="star-sharp"></ion-icon>
              <ion-icon name="star-half-sharp"></ion-icon>
            </div>
            <div class="margin_auto" *ngIf="player.score === 0.5">
              <ion-icon name="star-sharp"></ion-icon>
              <ion-icon name="star-sharp"></ion-icon>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
