.team {
  background-color: #000;
  color: #fff;
  span {
    width: 100%;
  }
}
.space {
  visibility: hidden;
}
[name="add-circle-outline"] {
  color: var(--ion-color-success-shade);
}
[name="remove-circle-outline"] {
  color: var(--ion-color-danger-shade);
}
