<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-center">
        Equipos finales
      </ion-title>
      <ion-buttons slot="end" class="space">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-grid class="ion-padding ion-text-center">
    <ion-row class="ion-padding team ion-margin-bottom">
      <span class="ion-padding-bottom">Equipo 1</span>
      <ion-col size="12" class="ion-padding ion-margin-bottom" *ngFor="let player of teamA"
        [ngClass]="!player.selected ? 'player' : 'active' ">
        <div> {{player.name}}</div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding team">
      <span class="ion-padding-bottom">Equipo 2</span>
      <ion-col size="12" class="ion-padding ion-margin-bottom" *ngFor="let player of teamB"
        [ngClass]="!player.selected ? 'player' : 'active' ">
        <div> {{player.name}}</div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
