.team {
  border: 1px solid #fff;
  color: #fff;
  padding: 0.25rem;
  span {
    width: 100%;
  }
}
.title {
  padding-top: 0px;
}
.space {
  visibility: hidden;
}
[name="add-circle-outline"] {
  color: var(--ion-color-success-shade);
}
[name="remove-circle-outline"] {
  color: var(--ion-color-danger-shade);
}

.animation-left {
  position: relative;
  animation-name: example;
  animation-duration: 1s;
}
.animation-right {
  position: relative;
  animation-name: example2;
  animation-duration: 1s;
}
@keyframes example {
  0% {
    left: -200px;
    top: 0px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

@keyframes example2 {
  0% {
    left: 200px;
    top: 0px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}
.vs {
  width: 80%;
  animation: zoom-animation 2s infinite;
}
@keyframes zoom-animation {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.8);
  }
}

.rain {
  height: 100vh;
  background-image: url("./../../assets/images/rain.png");
  animation: rain 0.3s linear infinite;
}
@keyframes rain {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 20% 100%;
  }
}
.rain::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("./../../assets/images/lightining.png");
  top: 25%;
  left: 25%;
  transform: rotate(180deg);
  animation: lightining 1s linear infinite;
  opacity: 1;
}
@keyframes lightining {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  21% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  31% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
