/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
body {
  color: #fff;

}
.player {
  border: 1px solid var(--ion-color-danger-shade);
  border-radius: 5px;
  box-shadow: 0px 1px 2px 0px rgba(250, 11, 11, 0.75);
  color: #fff;
}
.active {
  border: 1px solid var(--ion-color-success-shade);
  border-radius: 5px;
  box-shadow: 0px 1px 2px 0px rgb(3 183 58 / 75%);
  color: #fff;
}
.text_white {
  color: #fff;
}
.full_width {
  width: 100%;
}
.margin_auto {
  margin: auto;
}
img {
  height: 50px;
  width: 50px;
}
ion-content{
  color: #fff;
  --ion-background-color:#000;
}
[name="star-sharp"] {
  color: var(--ion-color-warning-tint);
}
[name="star-half-sharp"] {
  color: var(--ion-color-warning-tint);
}
