[name="checkmark-done-circle-outline"] {
  color: var(--ion-color-success-shade);
}
.single-player {
  display: inline-grid;
}
[name="star-sharp"] {
  color: var(--ion-color-warning-tint);
}
[name="star-half-sharp"] {
  color: var(--ion-color-warning-tint);
}
