<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title class="ion-text-center">
        <ion-icon name="shuffle-outline" (click)="sort()"></ion-icon>
        &nbsp; Seleccion de equipos &nbsp;
        <ion-icon name="checkmark-done-circle-outline" (click)="selectAll()"></ion-icon>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ng-template [ngTemplateOutlet]="startGiveaway" *ngIf="verifySelectedPlayers()"></ng-template>
  <ion-grid class="ion-padding ion-text-center">
    <ion-row>
      <ion-col size="12" class="ion-padding ion-margin-bottom" *ngFor="let player of players"
        (click)="selectPlayer(player)" [ngClass]="!player.selected ? 'player' : 'active' ">
        <div> {{player.name}} <ion-icon name="checkmark-done-circle-outline" *ngIf="player.selected"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ng-template [ngTemplateOutlet]="startGiveaway" *ngIf="verifySelectedPlayers()"></ng-template>

</ion-content>
<ng-template #startGiveaway>
  <ion-grid class=" ion-text-center">
    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" color="primary" (click)="raffle()">Sortear jugadores</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-template>
