<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title class="ion-text-center">
        <ion-icon name="shuffle-outline" (click)="sort()"></ion-icon>
        &nbsp; Seleccion de equipos &nbsp;
        <ion-icon name="checkmark-done-circle-outline" (click)="selectAll()"></ion-icon>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ng-template [ngTemplateOutlet]="startGiveaway" *ngIf="verifySelectedPlayers()"></ng-template>
  <ion-grid class="ion-padding ion-text-center">
    <ion-row>
      <ion-col size="12" class="ion-margin-bottom " *ngFor="let player of players" (click)="selectPlayer(player)"
        [ngClass]="!player.selected ? 'player' : 'active' ">
        <ion-row>
          <ion-col>
            <img [src]="player.image">
          </ion-col>
          <ion-col class="margin_auto">
            <span>{{player.name}}</span>
            <ion-icon name="checkmark-done-circle-outline" *ngIf="player.selected"></ion-icon>
          </ion-col>
          <ion-col class="margin_auto" *ngIf="player.score === 3.5">
            <ion-icon name="star-sharp"></ion-icon>
            <ion-icon name="star-sharp"></ion-icon>
            <ion-icon name="star-sharp"></ion-icon>
            <ion-icon name="star-sharp"></ion-icon>
            <ion-icon name="star-sharp"></ion-icon>
          </ion-col>
          <ion-col class="margin_auto" *ngIf="player.score === 3 || player.score === 2.5">
            <ion-icon name="star-sharp"></ion-icon>
            <ion-icon name="star-sharp"></ion-icon>
            <ion-icon name="star-sharp"></ion-icon>
            <ion-icon name="star-sharp"></ion-icon>
          </ion-col>
          <ion-col class="margin_auto" *ngIf="player.score === 2">
            <ion-icon name="star-sharp"></ion-icon>
            <ion-icon name="star-sharp"></ion-icon>
            <ion-icon name="star-sharp"></ion-icon>
            <ion-icon name="star-half-sharp"></ion-icon>
          </ion-col>
          <ion-col class="margin_auto" *ngIf="player.score === 1.5">
            <ion-icon name="star-sharp"></ion-icon>
            <ion-icon name="star-sharp"></ion-icon>
            <ion-icon name="star-sharp"></ion-icon>
          </ion-col>
          <ion-col class="margin_auto" *ngIf="player.score === 1">
            <ion-icon name="star-sharp"></ion-icon>
            <ion-icon name="star-sharp"></ion-icon>
            <ion-icon name="star-half-sharp"></ion-icon>
          </ion-col>
          <ion-col class="margin_auto" *ngIf="player.score === 0.5">
            <ion-icon name="star-sharp"></ion-icon>
            <ion-icon name="star-sharp"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ng-template [ngTemplateOutlet]="startGiveaway" *ngIf="verifySelectedPlayers()"></ng-template>

</ion-content>
<ng-template #startGiveaway>
  <ion-grid class=" ion-text-center">
    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" color="primary" (click)="raffle()">Sortear jugadores</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-template>
